<!-- INICIO FOOTER -->


<div class="footer-news">
    <h2>Suscribite al Newsletter    <i class="bi bi-envelope-paper-fill"></i></h2>
    <input type="text" class="newsletter-mail">
</div>

<div class="footer-box1">
    <div class="footer-contacto">
        <lu>
            <li class="bi bi-telephone"> 54 (11) XXXX - XXXX</li>
            <li class="bi bi-geo-alt"> Buenos Aires, Argentina</li>
        </lu>  
    </div>

    <div class="footer-redes">
        <i class="bi bi-facebook"></i>
        <i class="bi bi-instagram"></i>
        <i class="bi bi-twitter"></i>
    </div>

    <div class="footer-logo">
        <a href="/">   <img src = "../images/shlogo.jpg"  class="footer-logo"> </img> </a>
    </div>
</div>

<div class="footer-box2">
    <div class="derechos">
        TODOS LOS DERECHOS RESERVADOS   <i class="bi bi-c-circle derechos"></i>
    </div>
</div>

