<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
        <title>StreamHouse</title>


        <link rel="stylesheet" href="../css/header.css">

        <link rel="stylesheet" href="../css/footer.css">

        <link rel="stylesheet" href="../css/login.css">
    </head>
<body>

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="box-login">

            <div class="box-login-datos">
                <label for="" class="login-titulo">ACCESO USUARIOS</label>
                <br>
                <label for="">Correo electrónico *</label> 
                <input type="text" name="" id="Correo" class="login-text" placeholder="ejemplo@email.com">
                <br>
                <label for="">Contraseña *</label>
                <input type="text" id="contra" class="login-text" placeholder="">
                <label for="recuperar-contraseña">¿Olvidaste tu contraseña?</label>
                <button type="submit" id="recuperar-contraseña">olvide mi contraseña</button>
            </div>
            
            <div class="box-login-botones">
                <button type="submit" id="login-ingresar" class="btn btn-primary">Ingresar</button>
                <button type="submit" id="login-registrarme" class="btn btn-info">Registrarme</button>
            </div>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
    
</body>
</html>